
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Asap:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root{
    /* --main-color: #000000;
    --sub-color: #000000; */
    /* --main-color: #FF7083; */
    --sub-color: #FF7083;
    --main-color: #CAFF70;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chewy", "Arsenal", "VT323";
    font-weight: 200;
    list-style: none;
    text-decoration: none;
    
}

body{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
a{
    color: black;
}
p{
    font-family: "VT323";
}
#cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1rem;;
}
#main-title{
    color: var(--main-color);
    text-align: center;
    font-size: 10vw;
    margin: 5rem;
    font-weight: bolder;

}
#sub-title{
    text-align: center;
    color: var(--sub-color);
    display: none;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    transition: all 0.5s ease-in-out;
}
#nav-bar > ul{
    display: flex;
    gap: 3em;
    cursor: pointer;
}
#hamburger{
    display: none;
    width: 5%;
    height: auto;
    cursor: pointer;
}
img{
    width: 65%;
    height: auto;
    transition: all ease-in-out 1s;
}
button{
    padding: 0.5em 3em;
    margin-top: 2em;
    color: var(--sub-color);
    background-color: white;
    border: dotted 6px;
    border-radius: 30%;
    font-weight: bolder;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
button:hover{
    background-color: var(--main-color);
    transition: all ease-in-out 0.3s;
}
.card {
    text-align: center;
    color: var(--main-color);
    width: 100%;;
    height: 100%;
    border: dashed 1px;
    padding: 2rem;       
    margin: 1em 0;        
    background-color: white;
    line-height: 1.5rem;
    color: black;
}

.card img:hover{
    animation: hovering step-end .5s forwards alternate;
}

#nav-bar.show{
    position: absolute;
    left: 0rem;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}

.card > h1{
    margin-bottom: 1em;
    color: var(--sub-color);
    width: 100%;
    text-align: center;
}

body.mobile #nav-bar {
    flex-direction: column;
}

body.mobile #cont {
    grid-template-columns: 1fr;
}

footer{
    background-color: burlywood;
    display: flex;
    gap: 3rem;
    padding: 1rem;
}
#socials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#address{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@keyframes hovering{
    0%{
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(3px, 3px);
    }
    50%{
        transform: translate(6px, 6px);
    }
    75%{
        transform: translate(-3px, -3px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}


@media (max-width: 480px) {
    #nav-bar, #nav-bar > *{
        flex-direction: column;
        gap: 2em;
        width: 100%;
        position: relative;
    }
    #nav-bar{
        position: absolute;
        width: 100%;
        top: 0;
        left: -16em;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.5s ease-in-out;
    }
    #nav-bar.show {
        left: 0;
        background-color: rgb(255, 255, 255);
        transition: all 0.5s ease-in-out;
    }
    #hamburger{
        position: relative;
        left: 17em;
        display: block;
        width: 1.8rem;
    }
    #cont{
        grid-template-columns: 1fr;
    }
}